<div class="jumbotron">
        <h1 class="text-center">
             <h1 class="text-center">Alurapic</h1>
        </h1>
    </div>
                           
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="input-group col-md-6">
                        <span class="input-group-btn">
                            <a [routerLink]="['/cadastro']" class="btn btn-primary">
                                Nova Foto
                            </a>
                        </span>
                        <input #textoProcurado (keyup)="0" type="text" placeholder="Filtrar pelo título da foto" class="form-control">
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="padding-top: 17px">
            <painel *ngFor="let foto of fotos | filtroPorTitulo: textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="col-md-2">
                    <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </painel>
        </div>
    </div>